<nb-card [size]="size" [status]="patient.isOnline ? 'success' : 'danger'">
  <nb-card-header>
    <div class="d-flex flex-row align-items-center">
      <div class="icon"> <img src="{{patient.photoURL}}" alt="photo"> </div>
      <div class="ms-2 c-details">
        <h6 class="mb-0">{{patient.displayName}}</h6>
        <div class="badge" [ngStyle]="{'color': patient.isOnline ? '#24dc9c' : 'red'}"> <span>{{patient.isOnline ? "Online": "Offline" }}</span> </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    {{patient.description}}
  </nb-card-body>
  <nb-card-footer *ngIf="size == 'medium'">
    <a [routerLink]="['/details', this.patient.displayName]" [state]="{patient}" routerLinkActive="active" class="btn btn-primary">More Details</a>
  </nb-card-footer>
</nb-card>
