<app-navbar [nbSpinner]="loading" nbSpinnerSize="giant">
  <div class="container-fluid">
    <div class="row">

      <div class="col-12 col-md-4">
        <div class="mb-4">
          <hr data-content="Personal Infos" class="hr-text">
        </div>
        <app-personal-info-card [patient]="patient" size="giant"></app-personal-info-card>
      </div>
      <div class="col-12 col-md-3">
        <div class="mb-4">
          <hr data-content="Devices" class="hr-text">
        </div>
        <app-status-card [toggleTool]="patient?.devices?.lights!" (deviceStatusChanged)="onChange($event, 'lights')"
          tool="Lights"></app-status-card>
        <app-status-card [toggleTool]="patient?.devices?.tv!" (deviceStatusChanged)="onChange($event, 'tv')" tool="TV">
        </app-status-card>
        <app-status-card [toggleTool]="patient?.devices?.ac!" (deviceStatusChanged)="onChange($event, 'ac')"
          tool="Air conditioner">
        </app-status-card>
        <div class="mb-4">
          <hr data-content="Live" class="hr-text">
        </div>
        <nb-card accent="danger" size="tiny" style=" flex-direction: column;
          align-items: center;"
          [style.background-image]="'url(https://cdna.artstation.com/p/assets/images/images/013/251/276/large/danil-prokoshev-.jpg)'">
          <nb-card-body>
            <button nbButton status="danger" (click)="openWindow()">
              <nb-icon icon="video-outline"></nb-icon>Open video monitor
            </button>
          </nb-card-body>
        </nb-card>

      </div>
      <div class="col-12 col-md-5">
        <div class="mb-4">
          <hr data-content="Logs" class="hr-text">
        </div>
        <app-notifications></app-notifications>



        <!-- <nb-card>
          <nb-card-header>
            <h1 class="h5">Selected date: {{ date | date }}</h1>
          </nb-card-header>
          <nb-card-body>
            <nb-calendar [(date)]="date">
            </nb-calendar>
          </nb-card-body>
        </nb-card> -->
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-12 col-lg-8">
        <nb-card>
          <nb-card-header>Video monitor</nb-card-header>
          <nb-card-body>
            <app-video-monitor></app-video-monitor>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-12 col-lg-4">
        <app-chat></app-chat>
      </div>
    </div> -->
    <div class="row">
      <div class="mb-4">
        <hr data-content="Charts" class="hr-text">
      </div>
      <div class="col-12 col-lg-6">
        <nb-card>
          <nb-card-header>Chart line</nb-card-header>
          <nb-card-body>
            <app-chartjs-line></app-chartjs-line>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-12 col-lg-6">
        <nb-card>
          <nb-card-header>Bar</nb-card-header>
          <nb-card-body>
            <app-chartjs-pie></app-chartjs-pie>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>



</app-navbar>
