#video {
  --width: 100%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
}
.video-call-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.video-participant {

  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  background: rgb(44, 62, 80);
}
.local-stream {
  width: 25%;
  height: 30%;
  position: absolute;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  overflow: hidden;
  background: rgb(139, 172, 204);
  bottom: 0;
  right: 0;
}
a {
  text-decoration: none;
}
.name-tag {
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: 12px;
  color: #fff;
  background-color: rgba(0, 15, 47, 0.5);
  border-radius: 4px;
  padding: 4px 12px;
}

.participant-actions {
  position: absolute;
  display: flex;
  left: 12px;
  top: 12px;
}

.btn-mute,
.btn-camera {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: rgba(0, 15, 47, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  border: none;
}

.btn-mute {
  margin-right: 4px;
}


.video-call-actions {
  display: flex;
  position: fixed;
  height: 100px;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.video-action-button {
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  height: 48px;
  margin: 0 8px;
  border-radius: 8px;
  width: 48px;
  cursor: pointer;
  outline: none;


  &.endcall {
    color: #ff1932;
    width: auto;
    font-size: 14px;

  }

}

@media screen and (max-width: 900px) {
  .local-stream {
    top: 0;
    width: 50%;
    height: 30%;
  }
}
