<nb-layout>
  <nb-layout-header fixed>
    <nb-actions size="medium">
      <nb-action icon="bell-outline" badgeText="99+" badgeStatus="danger" style="border: 2rem;">
      </nb-action>
      <nb-action icon="email-outline" badgeDot badgePosition="top left" badgeStatus="danger">
      </nb-action>
      <nb-action icon="person-outline" badgeText="M" badgePosition="top right" badgeStatus="info">
      </nb-action>
      <nb-action icon="log-out-outline" (click) = "logout()">
      </nb-action>
    </nb-actions>

  </nb-layout-header>
  <nb-layout-column>
    <ng-content></ng-content>
  </nb-layout-column>

</nb-layout>
