<app-navbar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" *ngFor="let patient of patients | async">
        <app-personal-info-card [patient]="patient" size="medium"></app-personal-info-card>
      </div>

      <div class="col-md-4">
        <nb-card>
          <nb-card-body>
            <button nbButton status="primary" (click)="open()">
              <nb-icon icon="plus"></nb-icon>Add Patient
            </button>
            <br>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</app-navbar>
