@use "themes" as *;

@use "@nebular/theme/styles/globals" as *;
@use '@nebular/auth/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
  @include nb-auth-global(); // append the install mixin inside of the nb-install
}
/* You can add global styles to this file, and also import other style files */
/* body {
  padding-top: 3.5rem;
  font-family: "Roboto", sans-serif;

} */
nb-layout-header nav {
  justify-content: flex-end !important;
}
nb-layout-header nav nb-icon:hover {
  transform: rotate(360deg);
}
nb-layout-header nav nb-icon {
  transition: all 1s;
}
